.products-list {
  max-height: 250px;
  overflow-y: auto;
}

.cursor-pointer {
  cursor: pointer;
}

.selling-page-bg {
  background-color: #f4f6f8;
  min-height: 100vh;
  width: 100%;
}

.white-container {
  background-color: white;
}