.products-list {
  max-height: 250px;
  overflow-y: auto;
}

.cursor-pointer {
  cursor: pointer;
}

.selling-page-bg {
  background-color: #f4f6f8;
  min-height: 100vh;
  width: 100%;
}

.header {
  position: sticky;
  background-color: white;
  top: 0;
  height: 100vh;
  overflow-y: auto;
}

.white-container {
  background-color: white;
}

.header-icon {
  vertical-align: -4px
}